<div id="spread1" class="cbSpread1" style="overflow-x: hidden; overflow-y: scroll;">
    <table class="cb4spread cbFont2" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr style="height:2vh;">
          <td class="td25"></td>
          <td class="td25"></td>
          <td class="td25"></td>
          <td class="td25"></td>
        </tr>

        <tr style="height:40vh;">

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card1"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop01_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop01_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">1
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback1_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card2"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop02_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop02_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">2
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback2_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card3"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop03_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop03_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">3
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback3_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

          <td class="td25">
            
          </td>
        </tr>
        
        <tr style="height:2vh;">

          <td class="td25"></td>
          <td class="td25"></td>
          <td class="td25"></td>
          <td class="td25"></td>
        </tr>

        <tr style="height:40vh;">

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card4"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop04_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop04_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">4
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback4_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card5"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop05_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop05_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">5
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback5_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card6"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop06_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop06_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">6
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback6_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

          <td class="td25">
            
          </td>
        </tr>
        
        <tr style="height:2vh;">
        
          <td class="td25"></td>
          <td class="td25"></td>
          <td class="td25"></td>
          <td class="td25"></td>
        </tr>
        
        <tr style="height:40vh;">

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card7"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop07_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop07_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">7
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback7_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card8"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop08_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop08_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">8
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback8_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card9"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop09_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop09_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">9
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback9_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

          <td class="td25">
            <div class="cbCrd0">
              <div class="flip">
                <div class="card10"> 
                  <div class="face front"> 
                    <div class="inner"> 
                      <div id="carddrop10_10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop10_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">10
                      </div>
                    </div>
                  </div> 
                  <div class="face back"> 
                    <div class="inner text-center">
                      <img id="cardback10_10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                    </div>
                  </div>
                </div>	 
              </div>
            </div>
          </td>

        </tr>

      </tbody>
    </table>
  </div>

<script>
function drag(ev) {
    var el = ev.target;
    var parent = el.getAttribute("data-parent");
    
    if(!parent){
        el.setAttribute("data-parent", el.parentNode.id);
    }
    
    ev.dataTransfer.setData("Text", el.id);
    
}

function drop01_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback1_10").setAttribute('onclick', "return flip1()");
    document.getElementById("carddrop01_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );

    document.getElementById("cardback1_10").style.visibility = 'visible';
    document.getElementById("cardback1_10").setAttribute('id', abc.id);
    $('.card1').toggleClass('flipped');
}

function drop02_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback2_10").setAttribute('onclick', "return flip2()");
    document.getElementById("carddrop02_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback2_10").style.visibility = 'visible';
    document.getElementById("cardback2_10").setAttribute('id', abc.id);
    $('.card2').toggleClass('flipped');
}

function drop03_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback3_10").setAttribute('onclick', "return flip3()");
    document.getElementById("carddrop03_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback3_10").style.visibility = 'visible';
    document.getElementById("cardback3_10").setAttribute('id', abc.id);
    $('.card3').toggleClass('flipped');
}

function drop04_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback4_10").setAttribute('onclick', "return flip4()");
    document.getElementById("carddrop04_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback4_10").style.visibility = 'visible';
    document.getElementById("cardback4_10").setAttribute('id', abc.id);
    $('.card4').toggleClass('flipped');
}
function drop05_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback5_10").setAttribute('onclick', "return flip5()");
    document.getElementById("carddrop05_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );

    document.getElementById("cardback5_10").style.visibility = 'visible';
    document.getElementById("cardback5_10").setAttribute('id', abc.id);
    $('.card5').toggleClass('flipped');
}
function drop06_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback6_10").setAttribute('onclick', "return flip6()");
    document.getElementById("carddrop06_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback6_10").style.visibility = 'visible';
    document.getElementById("cardback6_10").setAttribute('id', abc.id);
    $('.card6').toggleClass('flipped');
}
function drop07_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback7_10").setAttribute('onclick', "return flip7()");
    document.getElementById("carddrop07_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback7_10").style.visibility = 'visible';
    document.getElementById("cardback7_10").setAttribute('id', abc.id);
    $('.card7').toggleClass('flipped');
}
function drop08_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback8_10").setAttribute('onclick', "return flip8()");
    document.getElementById("carddrop08_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback8_10").style.visibility = 'visible';
    document.getElementById("cardback8_10").setAttribute('id', abc.id);
    $('.card8').toggleClass('flipped');
}
function drop09_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback9_10").setAttribute('onclick', "return flip9()");
    document.getElementById("carddrop09_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback9_10").style.visibility = 'visible';
    document.getElementById("cardback9_10").setAttribute('id', abc.id);
    $('.card9').toggleClass('flipped');
}
function drop10_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback10_10").setAttribute('onclick', "return flip10()");
    document.getElementById("carddrop10_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback10_10").style.visibility = 'visible';
    document.getElementById("cardback10_10").setAttribute('id', abc.id);
    $('.card10').toggleClass('flipped');
}

function dragEnd(ev){
    if(ev.dataTransfer.dropEffect == "none"){
         var parent = document.getElementById(ev.target.getAttribute("data-parent"));
        
        parent.appendChild(ev.target);
        
    }
}

function flip() {
    $('.card1').toggleClass('flipped');
    $('.card2').toggleClass('flipped');
    $('.card3').toggleClass('flipped');
    $('.card4').toggleClass('flipped');
    $('.card5').toggleClass('flipped');
    $('.card6').toggleClass('flipped');
    $('.card7').toggleClass('flipped');
    $('.card8').toggleClass('flipped');
    $('.card9').toggleClass('flipped');
    $('.card10').toggleClass('flipped');
    $('.card11').toggleClass('flipped');
    $('.card12').toggleClass('flipped');
}
function flip1() {
    $('.card1').toggleClass('flipped');
}
function flip2() {
    $('.card2').toggleClass('flipped');
}
function flip3() {
    $('.card3').toggleClass('flipped');
}
function flip4() {
    $('.card4').toggleClass('flipped');
}
function flip5() {
    $('.card5').toggleClass('flipped');
}
function flip6() {
    $('.card6').toggleClass('flipped');
}
function flip7() {
    $('.card7').toggleClass('flipped');
}
function flip8() {
    $('.card8').toggleClass('flipped');
}
function flip9() {
    $('.card9').toggleClass('flipped');
}
function flip10() {
    $('.card10').toggleClass('flipped');
}
</script>