<div class="band">
<% @setting = Setting.first %>
  <% @name = @setting.setting01 %>
  <% @deck.each do |card| %>
    <div class="card mx-auto">
          <img id="image" class="organon-card-front card-img-top img-fluid" src= <%= @name %><%= card[:image] %> alt="" data-toggle="modal" data-target="#cardModal" data-card-id="<%= card[:id] %>">
      
      <div class="card-block">
        <h4 class="card-title"><%= card[:name] %></h4>
        <a href="#" class="organon-card-front btn btn-outline-secondary btn-sm" onclick= "compare(<%= card[:id] %>);" data-toggle="modal" data-target="#compareModal" data-card-id="<%= card[:id] %>"><i class="fa fa-balance-scale" aria-hidden="true"></i>Compare Cards</a>
        <p>
        <br><b><u>Upright:</u></b><br><%= card[:desc] %>
        <br><b><u>Reversed:</u></b><br><%= card[:rdesc] %>
      </div>
    </div>
  <% end %>  
</div>

<%= render "tarot/comparemodal" %>

   <script>

   function compare(abc) {
    document.getElementById("comparecard1").src = "/images03/mycard" + abc + ".jpg";
    document.getElementById("comparecard2").src = "/images05/mycard" + abc + ".jpg";
    document.getElementById("comparecard3").src = "/images04/mycard" + abc + ".jpg";
    document.getElementById("comparecard4").src = "/images02/mycard" + abc + ".jpg";
    document.getElementById("comparecard5").src = "/images06/mycard" + abc + ".jpg";
    document.getElementById("comparecard6").src = "/images01/mycard" + abc + ".jpg";
}

      function cbo_CardDeck_onchange(){
        var e = document.getElementById("cbo_CardDeck").value;
            $('#name').val(e)

        $.ajax({
          url: "index.html",
          cache: false,
          success: function(data){
             $("#band").load(location.href + " #band>*", "");
          } 
        });
      }
      document.getElementById("cbo_CardDeck").onchange = cbo_CardDeck_onchange;

   </script>







