<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter your Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @person = Person.new %>

        <%= simple_form_for @person do |f| %>
          <%= f.input :name %>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <%= f.input :BirthYear %>
              </div>
              <div class="col-md-4">
                <%= f.input :BirthMonth, :collection => [['January',1],['February',2],['March',3],['April',4],['May',5],['June',6],['July',7],['August',8],['September',9],['October',10],['November',11],['December',12]], selected: 12 %>
              </div>
              <div class="col-md-4">
                <%= f.input :BirthDay %>
              </div>
            </div>
          <%= f.input :BirthTime, :collection => [['06:00 - 07:59',1],['08:00 - 09:59',2],['10:00 - 11:59',3],['12:00 - 13:59',4],['14:00 - 15:59',5],['16:00 - 17:59',6],['18:00 - 19:59',7],['20:00 - 21:59',8],['22:00 - 23:59',9],['24:00 - 01:59',10],['02:00 - 03:59',11],['04:00 - 05:59',12]], selected: 12 %>

          <%= f.input :description %>
          <div class="form-group">
            <span>Please select a member type   </span><%= f.collection_select :section_id, Section.all, :id, :name, promt: "Choose a Member type", class: "form-control" %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Skip</button>
        <%= f.button :submit %>
      <% end %>
      </div>
    </div>
  </div>
</div>


 