<p id="notice"><%= notice %></p>

<p>
  <strong>Setting01:</strong>
  <%= @setting.setting01 %>
</p>

<p>
  <strong>Setting02:</strong>
  <%= @setting.setting02 %>
</p>

<p>
  <strong>Setting03:</strong>
  <%= @setting.setting03 %>
</p>

<p>
  <strong>Setting04:</strong>
  <%= @setting.setting04 %>
</p>

<p>
  <strong>Setting05:</strong>
  <%= @setting.setting05 %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
