<div id="spread1" class="cbSpread2" style="overflow-x: hidden; overflow-y: scroll;">
    <table class="cb4spread cbFont2" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr style="height:2vh; vertical-align:top;">
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>

        <tr style="height:40vh; vertical-align:top;">
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card1"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop01" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop01(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">1
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback1" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card2"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop02" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop02(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">2
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback2" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card3"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop03" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop03(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">3
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback3" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card4"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop04" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop04(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">4
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback4" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card5"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop05" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop05(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">5
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback5" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card6"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop06" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop06(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">6
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback6" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        </tr>
        
        <tr style="height:2vh;">
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>
        
        <tr style="height:40vh; vertical-align:top;">
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card7"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop07" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop07(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">7
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback7" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card8"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop08" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop08(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">8
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback8" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card9"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop09" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop09(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">9
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback9" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card10"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop10" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">10
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback10" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card11"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop11" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop11(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">11
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback11" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td16">
          <div class="cbCrd0a">
            <div class="flip">
              <div class="card12"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop12" class="cbCrd5" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop12(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">12
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback12" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        </tr>
        
        <tr style="height:2vh;"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        
      </tbody>
    </table>
  </div>

<script>
function drag(ev) {
    var el = ev.target;
    var parent = el.getAttribute("data-parent");
    
    if(!parent){
        el.setAttribute("data-parent", el.parentNode.id);
    }
    
    ev.dataTransfer.setData("Text", el.id);
    
}

function drop01(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback1").setAttribute('onclick', "return flip1()");
    document.getElementById("carddrop01").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );

    document.getElementById("cardback1").style.visibility = 'visible';
    document.getElementById("cardback1").setAttribute('id', abc.id);
    $('.card1').toggleClass('flipped');
}

function drop02(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback2").setAttribute('onclick', "return flip2()");
    document.getElementById("carddrop02").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback2").style.visibility = 'visible';
    document.getElementById("cardback2").setAttribute('id', abc.id);
    $('.card2').toggleClass('flipped');
}

function drop03(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback3").setAttribute('onclick', "return flip3()");
    document.getElementById("carddrop03").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback3").style.visibility = 'visible';
    document.getElementById("cardback3").setAttribute('id', abc.id);
    $('.card3').toggleClass('flipped');
}

function drop04(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback4").setAttribute('onclick', "return flip4()");
    document.getElementById("carddrop04").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback4").style.visibility = 'visible';
    document.getElementById("cardback4").setAttribute('id', abc.id);
    $('.card4').toggleClass('flipped');
}
function drop05(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback5").setAttribute('onclick', "return flip5()");
    document.getElementById("carddrop05").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );

    document.getElementById("cardback5").style.visibility = 'visible';
    document.getElementById("cardback5").setAttribute('id', abc.id);
    $('.card5').toggleClass('flipped');
}
function drop06(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback6").setAttribute('onclick', "return flip6()");
    document.getElementById("carddrop06").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback6").style.visibility = 'visible';
    document.getElementById("cardback6").setAttribute('id', abc.id);
    $('.card6').toggleClass('flipped');
}
function drop07(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback7").setAttribute('onclick', "return flip7()");
    document.getElementById("carddrop07").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback7").style.visibility = 'visible';
    document.getElementById("cardback7").setAttribute('id', abc.id);
    $('.card7').toggleClass('flipped');
}
function drop08(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback8").setAttribute('onclick', "return flip8()");
    document.getElementById("carddrop08").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback8").style.visibility = 'visible';
    document.getElementById("cardback8").setAttribute('id', abc.id);
    $('.card8').toggleClass('flipped');
}
function drop09(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback9").setAttribute('onclick', "return flip9()");
    document.getElementById("carddrop09").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback9").style.visibility = 'visible';
    document.getElementById("cardback9").setAttribute('id', abc.id);
    $('.card9').toggleClass('flipped');
}
function drop10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback10").setAttribute('onclick', "return flip10()");
    document.getElementById("carddrop10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback10").style.visibility = 'visible';
    document.getElementById("cardback10").setAttribute('id', abc.id);
    $('.card10').toggleClass('flipped');
}
function drop11(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback11").setAttribute('onclick', "return flip11()");
    document.getElementById("carddrop11").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback11").style.visibility = 'visible';
    document.getElementById("cardback11").setAttribute('id', abc.id);
    $('.card11').toggleClass('flipped');
}
function drop12(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback12").setAttribute('onclick', "return flip12()");
    document.getElementById("carddrop12").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback12").style.visibility = 'visible';
    document.getElementById("cardback12").setAttribute('id', abc.id);
    $('.card12').toggleClass('flipped');
}

function dragEnd(ev){
    if(ev.dataTransfer.dropEffect == "none"){
         var parent = document.getElementById(ev.target.getAttribute("data-parent"));
        
        parent.appendChild(ev.target);
        
    }
}

function flip() {
    $('.card1').toggleClass('flipped');
    $('.card2').toggleClass('flipped');
    $('.card3').toggleClass('flipped');
    $('.card4').toggleClass('flipped');
    $('.card5').toggleClass('flipped');
    $('.card6').toggleClass('flipped');
    $('.card7').toggleClass('flipped');
    $('.card8').toggleClass('flipped');
    $('.card9').toggleClass('flipped');
    $('.card10').toggleClass('flipped');
    $('.card11').toggleClass('flipped');
    $('.card12').toggleClass('flipped');
}
function flip1() {
    $('.card1').toggleClass('flipped');
}
function flip2() {
    $('.card2').toggleClass('flipped');
}
function flip3() {
    $('.card3').toggleClass('flipped');
}
function flip4() {
    $('.card4').toggleClass('flipped');
}
function flip5() {
    $('.card5').toggleClass('flipped');
}
function flip6() {
    $('.card6').toggleClass('flipped');
}
function flip7() {
    $('.card7').toggleClass('flipped');
}
function flip8() {
    $('.card8').toggleClass('flipped');
}
function flip9() {
    $('.card9').toggleClass('flipped');
}
function flip10() {
    $('.card10').toggleClass('flipped');
}
function flip11() {
    $('.card11').toggleClass('flipped');
}
function flip12() {
    $('.card12').toggleClass('flipped');
}
</script>