<div id="spread1" class="cbSpread1" style="overflow-x: hidden; overflow-y: scroll;">
      <table class="cb3spread cbFont2" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr class="tr1">
            <td class="td20"></td>
            <td class="td20">1</td>
            <td class="td20">2</td>
            <td class="td20">3</td>
            <td class="td20"></td>
          </tr>
        <tr class="tr9">
        <td class="td20">

        </td>
        <td class="td20">
        <div class="cbCrd0a">
          <div class="flip">
            <div class="card1"> 
              <div class="face front"> 
                <div class="inner"> 
                  <div id="carddrop01_6" class="cbCrd3" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" style="background-color: transparent;" ondrop="drop01_6(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)"> 
                  </div>
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center">
                  <img id="cardback1_6" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                </div>
              </div>
            </div>	 
          </div>
        </div>
      </td>
        <td class="td20">
        <div class="cbCrd0a">
          <div class="flip">
            <div class="card2"> 
              <div class="face front"> 
                <div class="inner"> 
                  <div id="carddrop02_6" class="cbCrd3" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" style="background-color: transparent;" ondrop="drop02_6(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)"> 
                  </div>
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center">
                  <img id="cardback2_6" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                </div>
              </div>
            </div>	 
          </div>
        </div>
      </td>
        <td class="td20">
        <div class="cbCrd0a">
          <div class="flip">
            <div class="card3"> 
              <div class="face front"> 
                <div class="inner"> 
                  <div id="carddrop03_6" class="cbCrd3" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop03_6(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)"> 
                  </div>
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center">
                  <img id="cardback3_6" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                </div>
              </div>
            </div>	 
          </div>
        </div>
      </td>
      <td class="td20">
      
      </td>
      </tr>
          <tr class="tr1">
            <td class="td20"></td>
            <td class="td20">4</td>
            <td class="td20">5</td>
            <td class="td20">6</td>
            <td class="td20"></td>
          </tr>
        <tr class="tr9">
        <td class="td20">

        </td>
        <td class="td20">
        <div class="cbCrd0a">
          <div class="flip">
            <div class="card4"> 
              <div class="face front"> 
                <div class="inner"> 
                  <div id="carddrop04_6" class="cbCrd3" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" style="background-color: transparent;" ondrop="drop04_6(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)"> 
                  </div>
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center">
                  <img id="cardback4_6" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                </div>
              </div>
            </div>	 
          </div>
        </div>
      </td>
        <td class="td20">
        <div class="cbCrd0a">
          <div class="flip">
            <div class="card5"> 
              <div class="face front"> 
                <div class="inner"> 
                  <div id="carddrop05_6" class="cbCrd3" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" style="background-color: transparent;" ondrop="drop05_6(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)"> 
                  </div>
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center">
                  <img id="cardback5_6" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                </div>
              </div>
            </div>	 
          </div>
        </div>
      </td>
        <td class="td20">
        <div class="cbCrd0a">
          <div class="flip">
            <div class="card6"> 
              <div class="face front"> 
                <div class="inner"> 
                  <div id="carddrop06_6" class="cbCrd3" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop06_6(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)"> 
                  </div>
                </div>
              </div> 
              <div class="face back"> 
                <div class="inner text-center">
                  <img id="cardback6_6" class="organon-card-back" style="border-radius: 5px; text-align:center; visibility: hidden; margin:auto; width:100%; display:block;" src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                </div>
              </div>
            </div>	 
          </div>
        </div>
      </td>
      <td class="td20">
      
      </td>
      </tr>
      </tbody>
    </table>
  </div>

  <script>
function drag(ev) {
    var el = ev.target;
    var parent = el.getAttribute("data-parent");
    
    if(!parent){
        el.setAttribute("data-parent", el.parentNode.id);
    }
    
    ev.dataTransfer.setData("Text", el.id);
    
}

function drop01_6(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback1_6").setAttribute('onclick', "return flip1()");
    document.getElementById("carddrop01_6").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );

    document.getElementById("cardback1_6").style.visibility = 'visible';
    document.getElementById("cardback1_6").setAttribute('id', abc.id);
    $('.card1').toggleClass('flipped');
}

function drop02_6(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback2_6").setAttribute('onclick', "return flip2()");
    document.getElementById("carddrop02_6").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback2_6").style.visibility = 'visible';
    document.getElementById("cardback2_6").setAttribute('id', abc.id);
    $('.card2').toggleClass('flipped');
}

function drop03_6(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback3_6").setAttribute('onclick', "return flip3()");
    document.getElementById("carddrop03_6").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback3_6").style.visibility = 'visible';
    document.getElementById("cardback3_6").setAttribute('id', abc.id);
    $('.card3').toggleClass('flipped');
}

function drop04_6(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback4_6").setAttribute('onclick', "return flip4()");
    document.getElementById("carddrop04_6").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback4_6").style.visibility = 'visible';
    document.getElementById("cardback4_6").setAttribute('id', abc.id);
    $('.card4').toggleClass('flipped');
}
function drop05_6(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback5_6").setAttribute('onclick', "return flip5()");
    document.getElementById("carddrop05_6").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );

    document.getElementById("cardback5_6").style.visibility = 'visible';
    document.getElementById("cardback5_6").setAttribute('id', abc.id);
    $('.card5').toggleClass('flipped');
}
function drop06_6(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback6_6").setAttribute('onclick', "return flip6()");
    document.getElementById("carddrop06_6").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback6_6").style.visibility = 'visible';
    document.getElementById("cardback6_6").setAttribute('id', abc.id);
    $('.card6').toggleClass('flipped');
}

function dragEnd(ev){
    if(ev.dataTransfer.dropEffect == "none"){
         var parent = document.getElementById(ev.target.getAttribute("data-parent"));
        
        parent.appendChild(ev.target);
        
    }
}

function flip() {
    $('.card1').toggleClass('flipped');
    $('.card2').toggleClass('flipped');
    $('.card3').toggleClass('flipped');
    $('.card4').toggleClass('flipped');
    $('.card5').toggleClass('flipped');
    $('.card6').toggleClass('flipped');
    
}
function flip1() {
    $('.card1').toggleClass('flipped');
}
function flip2() {
    $('.card2').toggleClass('flipped');
}
function flip3() {
    $('.card3').toggleClass('flipped');
}
function flip4() {
    $('.card4').toggleClass('flipped');
}
function flip5() {
    $('.card5').toggleClass('flipped');
}
function flip6() {
    $('.card6').toggleClass('flipped');
}
</script>