<div id="content1" class="cbContent1">
  <div id="cards1" class="cbCards1 organon-card">
     <%= render "tarot7/carddeck" %>
  </div> 
     <div id="12cards"><%= render "tarot7/12cards" %></div>
     <div id="4cards" class="hidden"><%= render "tarot7/4cards" %></div>
     <div id="5cards" class="hidden"><%= render "tarot7/5cards" %></div>
     <div id="6cards" class="hidden"><%= render "tarot7/6cards" %></div>
     <div id="10cards" class="hidden"><%= render "tarot6/10cards" %></div>
</div>

    <img id="tarot" class="cbShuffle" alt="" src="../imagesxx/shuffle.png" title="Shuffle cards" onclick="shuffleCards()" >
    <img class="cbShuffle" alt="" src="../imagesxx/flip.png" style="top: 95%"; title="Flip cards" onclick="return flip()" >
    <img id= "4cards_b" class="cbShuffle" alt="" src="../imagesxx/4icon.png" style="top: 30%; left: 1%;"; title="4 cards" onclick="return SpeadCard12()" >
    <img id= "5cards_b" class="cbShuffle" alt="" src="../imagesxx/5icon.png" style="top: 40%; left: 1%;"; title="5 cards" onclick="return SpeadCard12()" >
    <img id= "6cards_b" class="cbShuffle" alt="" src="../imagesxx/6icon.png" style="top: 50%; left: 1%;"; title="6 cards" onclick="return SpeadCard12()" >
    <img id= "10cards_b" class="cbShuffle" alt="" src="../imagesxx/10icon.png" style="top: 60%; left: 1%;"; title="10 cards" onclick="return SpeadCard12()" >
    <img id= "12cards_b" class="cbShuffle" alt="" src="../imagesxx/12icon.png" style="top: 70%; left: 1%;"; title="12 cards" onclick="return SpeadCard12()" >

<script>

$(document).ready(function(){

    $("#4cards_b").click(function(){
        $("#4cards").show(500);
        $("#5cards").hide(500);
        $("#6cards").hide(500);
        $("#10cards").hide(500);
        $("#12cards").hide(500);
    });

    $("#5cards_b").click(function(){
        $("#4cards").hide(500);
        $("#5cards").show(500);
        $("#6cards").hide(500);
        $("#10cards").hide(500);
        $("#12cards").hide(500);
    });

    $("#6cards_b").click(function(){
        $("#4cards").hide(500);
        $("#5cards").hide(500);
        $("#6cards").show(500);
        $("#10cards").hide(500);
        $("#12cards").hide(500);
    });

    $("#10cards_b").click(function(){
        $("#4cards").hide(500);
        $("#5cards").hide(500);
        $("#6cards").hide(500);
        $("#10cards").show(500);
        $("#12cards").hide(500);
    });

    $("#12cards_b").click(function(){
        $("#4cards").hide(500);
        $("#5cards").hide(500);
        $("#6cards").hide(500);
        $("#10cards").hide(500);
        $("#12cards").show(500);
    });
});

function compare(abc) {
    document.getElementById("comparecard1").src = "/images03/mycard" + abc + ".jpg";
    document.getElementById("comparecard2").src = "/images05/mycard" + abc + ".jpg";
    document.getElementById("comparecard3").src = "/images04/mycard" + abc + ".jpg";
    document.getElementById("comparecard4").src = "/images02/mycard" + abc + ".jpg";
    document.getElementById("comparecard5").src = "/images01/mycard" + abc + ".jpg";
    document.getElementById("comparecard6").src = "/images06/mycard" + abc + ".jpg";
    document.getElementById("comparecard7").src = "/images07/mycard" + abc + ".jpg";
}
   
function shuffleCards(){
  $.ajax({
    url: "tarot.html",
    cache: false,
    success: function(data){
        $("#cards1").load(location.href + " #cards1>*", "");
    } 
  });
}

function ClearCard(){
  $.ajax({
    url: "tarot.html",
    cache: false,
    success: function(data){
        $("#spread1").load(location.href + " #spread1>*", "");
    } 
  });
}

function allowDrop(ev) {
  ev.preventDefault();
    $(ev.target).css('background-color','#d3d3d3');
}

function removeStyle(ev) {
     $(ev.target).removeAttr('style');
}

$('.cbCrd5').hover(makeBigger, returnToOriginalSize);
$('.cbCrd1').hover(makeBigger, returnToOriginalSize);
$('.cbCrd3').hover(makeBigger, returnToOriginalSize);

function makeBigger() {
    $(this).css({height: '+=50%', width: '+=50%'});
}
function returnToOriginalSize() {
    $(this).css({height: "", width: ""});
}

var dragIcon = document.createElement('img');
dragIcon.src = '../<%= @name %>/CardBack.jpg';
var all_draggable_elements = document.getElementsByClassName('mgCard organon-card-front');
for (var i = 0; i < all_draggable_elements.length; i++) {
    all_draggable_elements[i].addEventListener('dragstart', function(event) {
        event.dataTransfer.setDragImage(dragIcon, 150, 350);
    });
}


</script>

