<head>
    <title>Mgctr78</title>
    <!-- include your action js code -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- include your action js code -->

    <link rel="stylesheet" media="all" href="/assets/application.self-553d3aa8c45c0c0c01b5dd184a0b85c3890f0fa2c1bb903a5bfd7f2283e52be0.css?body=1" data-turbolinks-track="reload">
    <script src="/assets/jquery3.self-06c43429d1047ce3f355da574d8a9750209971b8b1b8f264f91f5518c5fcc060.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/rails-ujs.self-817d9a8cb641f7125060cb18fefada3f35339170767c4e003105f92d4c204e39.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/jquery-ui.self-bac161e5cdca8c4d90a254b8a05bbf6fe02083b019e0ff9bf3d5602a918d6fbf.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/version.self-c8e3d1203da26ea7efdf83c1eabb3f0ba55cb68e463f5ccf0d77bd15ce6a8e61.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/widget.self-fca20bcec06d192f97cffa6e734e24360e227237b8ae7d7e7e60754df7d5444f.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/ie.self-163eb039dcb1e0c3471b7d91386eabb8753da6906e84824c019f9ff56bdb83a6.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/widgets/mouse.self-f0790a202dcf54fab051e71b042335d5346f9cceb0f645223c1dab93f349a04b.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/data.self-2067c82e6fe39a9cba5623206a5dc28d5c60d26b95cd100855b78cacf72865b8.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/plugin.self-d8f576c8e073ca51f095505f47bd09d306b875404cd90afcbb6338287cfb0247.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/safe-active-element.self-a1f1a1a7dae3269ce03f6fffb2dcc9b4a7490f5d546c65d54417bec3be24b668.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/safe-blur.self-2cc24c46132d51c7724f6371154241b0a81c9bae5d5681d8f62b01ce46236726.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/scroll-parent.self-38e26a71a450a29fb63425e8f589a7046862f927eb0a1dbf6a6c44da05196d2e.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/widgets/draggable.self-42c3eda0b49f105628cea7580fe38c7ed77467cee384bb2c4e095a2bd0a172e6.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery-ui/widgets/droppable.self-4e3be0d7524dd1852e3b37ae00cd0c351c6178bcad39b17315cca941ddd44148.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery.ui.touch-punch.self-0497642d81403d26a85983e8cade349bb3afc947793fb7982f7bc1af88bccf4c.js?body=1" data-turbolinks-track="reload"></script>
    <script src="/assets/jquery.ui.touch-punch.min.self-47dfa04fb53a2422f62de1cbdc6256eff8a3ac2678d10d042880b540b971113d.js?body=1" data-turbolinks-track="reload"></script>



    <!-- Bootstrap -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Fonts -->
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=IM+Fell+English', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:400,400italic,900', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:400,400italic,900,700,700italic|Abel|Josefin+Sans:400,400italic,300,600|Alegreya|Archivo+Narrow:400,400italic|Slabo+27px|Oswald:300,700|Titillium+Web:300,300italic,400,400italic,600,900|Crete+Round|Sintony', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" media="all">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstra‌​p.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="getZodiacSign.js"></script>
    

    </head>